.product-page {
  background: rgba(151, 30, 30, 0.7);
  color: #b23b3b;
  padding: 40px 20px;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.product-title {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #f39c12;
}

.product-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ab3535;
}
